#ms-pre-selected-options {
    width:100%;
}
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.m-w-200 {
    max-width:200px;
}
.redText {
    color:red;
    font-weight: bold;
}
.disabledForm {pointer-events: none;}
